# Python
__pycache__/
*.py[cod]
*.so

# 虚拟环境
venv/
.venv/

# IDE
.vscode/
.idea/

# 系统文件
Thumbs.db
Desktop.ini
.DS_Store

# Keil MDK 编译产物
STM32/Keil工程/Objects/
STM32/Keil工程/Listings/
STM32/Keil工程/DebugConfig/
*.uvguix.*

# 视频文件（太大，不适合git；请自行放入视频到项目根目录）
*.mp4
*.mkv
*.avi
*.mov

# 无关项目
ETS2LA/
*.blend
未命名.png
2号.mp4
小汽车.mkv
houtou0001-0200.mkv
